<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>
<div>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Host name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="host" placeholder="Host name" value="localhost">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-3 control-label">Port</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="port" placeholder="port" value="8080">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-3 control-label">Receiver Application Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="receiver_app_name" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-3 control-label">Receiver Facilit Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="receiver_fac_name" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Domain</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="domain" placeholder="" value="NIST2010&2.16.840.1.113883.3.72.5.9.1&ISO">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 col-sm-12">
            <button type="button" class="btn btn-primary" id="send">发送消息</button>
        </div>
    </div>
</form>
    <label>消息面板</label>
    <div class="jumbotron">
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>